.overlay-area {
  margin: 0 auto;
  text-align: center;
}

#form-area {
  margin-top: 130px;
}

#craft-area {
  margin-top: 130px;
}

#craft-area-left {
  width: 49%;
  border-right: solid 1px #C0C0C0;
  float: left;
}

#craft-area-right {
  width: 49%;
  float: right;
}

.title-area {
  padding-left: 50px;
  text-align: left;
  font-size: 30px;
  margin-bottom: 50px;
}

.tool-icon-area {
  position: relative;
  margin: 0 auto;
  margin-left: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  min-height: 85px;
  -webkit-box-shadow: 0 15px 35px rgba(50,50,93,.03), 0 5px 15px rgba(0,0,0,.06);
  box-shadow: 0 15px 35px rgba(50,50,93,.03), 0 5px 15px rgba(0,0,0,.06);
  padding: 20px;
}

.tool-icon-area:hover {
  -webkit-box-shadow: 0 25px 45px rgba(50,50,93,.03), 0 15px 25px rgba(0,0,0,.06);
  box-shadow: 0 25px 45px rgba(50,50,93,.03), 0 15px 25px rgba(0,0,0,.06);
  cursor: pointer;
  -webkit-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease;
}

.tool-icon-area a {
  color: #000;
}

.tool-icon-area:hover a {
  color: #EA346D;
}

.tool-icon-area b {
  position: absolute;
  bottom: 2px;
  text-align: center;
  left: 50%;
  margin: 0 auto;
}
.tool-icon-area b i{
  position: relative;
  left: -50%;
  font-style: normal;
}

.tool-icon {
  width: 80px;
  height: auto;
}

#form-area input, #form-area textarea {
  border-left: none;
  border-right: none;
  border-top: none;
  border-color: #333;
  width: 400px;
  font-size: 20px;
  border-width: 0.5px;
}

#form-area input:hover, #form-area textarea:hover {
  border-color: #EA346D;
}

#form-area input:active, #form-area textarea:active {
  border-left: none;
  border-right: none;
  border-top: none;
  border-color: #EA346D;
}

.form-element {
  margin-bottom: 50px;
}

.cool-btn {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: #EA346D;
  border-color: #EA346D;
  border: none;
  border-radius: 5px;
  color: #fff;
}
.cool-btn:hover {
  background-color: #fff;
  border: solid 1px #EA346D;
  border-radius: 5px;
  color: #EA346D;
  cursor: pointer;
  cursor: hand;
}

#hello-text {
  font-size: 90px;
  margin: 0 auto;
  margin-bottom: 50px;
}