#skills-area {
  margin: 0 auto;
  margin-left: 15%;
}

@media only screen and (max-width: 780px){
  #skills-area{
    margin-left: 3%;
    display: block;
  }
}

@media only screen and (max-width: 480px){
  #skills-area {
    margin-left: 0%;
    margin-bottom: 80px;
  }
}
