#cooltext-area {
  color: #000;
  margin-right: 3%;
  text-align: center;
  font-size: 30px;
}

#cool-writing h1 {
  font-size: 90px;
  padding: 30px;
  padding-top: 30px;
  font-weight: lighter;
}

#cool-writing b {
  font-weight: bolder;
}

.bolded {
  font-weight: 800 !important;
}

#cool-writing h3 {
  font-size: 30px;
  margin-top: -70px;
  margin-bottom: 60px;
  font-weight: 200;
}